<div style="max-height: 80vh; overflow: auto;">
  <div *ngFor="let email of emails" (click)="onSelect(email)">
    <div class="flex justify-content-between w-30vw shadow-1 p-2">
      <div class="flex flex-column gap-2">
        <div class="text-lg">{{ email.sender }}</div>
        <div class="text-sm">{{ email.subject }}</div>
        <div class="text-xs">{{ email.body }}</div>
      </div>
      <div class="flex flex-column justify-content-between align-items-end mr-2">
        <div>{{  isToday(email.email_date) ? (email.email_date | date: 'shortTime') :  (email.email_date | date: 'short') }}</div>
        <img src="../../../../assets/Icons/Schedule/gmail.png" style="width: 20px; height: 20px;" alt="">
      </div>
    </div>
  </div>
</div>