<div class="flex align-items-center mb-4">
    <p-avatar size="large"></p-avatar>
    <div class="flex flex-column justify-content-between gap-1 ml-2">
        <a class="text-sm">VPLEX-1234</a>
        <span class="text-lg font-semibold">EE Academy - Siddarth - Component: NDU (VPLEX and MN) and iDRAC Events &
            Alerts</span>
    </div>
</div>

<div class="flex align-items-center gap-2">
    <button pButton icon="pi pi-pencil" label="Edit" class="p-button-outlined"></button>
    <button pButton icon="pi pi-comment" label="Add comment" class="p-button-outlined"></button>
    <button pButton icon="pi pi-user" label="Assign" class="p-button-outlined"></button>
    <div class="flex justify-center">
        <p-select [options]="ticketStates" [(ngModel)]="selectedTicketState" optionValue="id" optionLabel="name"
            [placeholder]="selectedTicketState.name" class="w-full md:w-56" />
    </div>
</div>

<div class="flex">

    <div class="col-8">
        <div class="flex justify-content-start gap-8">
            <div class="flex flex-column mr-8">
                <div class="field grid">
                    <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
                    <div class="col">
                        <input id="firstname3" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>
                <div class="field grid">
                    <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
                    <div class="col">
                        <input id="lastname3" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>
            </div>


            <div class="flex flex-column">
                <div class="field grid">
                    <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
                    <div class="col">
                        <input id="firstname3" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>
                <div class="field grid">
                    <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
                    <div class="col">
                        <input id="lastname3" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="col-4">
        <div class="flex justify-content-start">

            <div class="flex flex-column justify-content-end">
            <div class="field grid">
            <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
            <div class="col">
                <input id="firstname3" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        <div class="field grid">
            <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
            <div class="col">
                <input id="lastname3" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
        </div>
            
        </div>
        
        
    </div>



</div>