<div>
  <h5 class="text-2xl font-semibold text-650">Accounts</h5>
  <ul class="list-none p-0 m-0">
    <li *ngFor="let account of accounts" class="p-2">
      {{account.email}}  <p-tag [value]="account?.synced ? 'Synced' : 'Not Synced'" [severity]="account?.synced ? 'success' : 'danger'"></p-tag>
    </li>
  </ul>
  <button pButton icon="pi pi-plus" class="p-button-outlined mt-2 p-button-sm px-3" label="Add Account"></button>
  <!--button pButton (click)="addAccount();">Add account</button-->
</div>
