<div class="contacts-wrapper" *ngIf="profile.user.role !== 'individual'">
    <div class="contacts-header">
        <div class="header-content">
            <h1 class="header-title">Contact Management</h1>
            <p class="header-subtitle">Organize and manage your contacts and groups</p>
        </div>
    </div>

    <p-tabs value="0" styleClass="modern-tabs">
        <p-tablist>
            <p-tab value="0" class="modern-tab">
                <div class="tab-content">
                    <i class="pi pi-user tab-icon"></i>
                    <span class="tab-label">Contacts</span>
                    <p-badge [value]="total_contacts" class="tab-badge" />
                </div>
            </p-tab>
            <p-tab value="1" class="modern-tab">
                <div class="tab-content">
                    <i class="pi pi-users tab-icon"></i>
                    <span class="tab-label">Groups</span>
                    <p-badge [value]="total_groups" class="tab-badge" />
                </div>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-contact (totalContacts)="onTotalContactsHandler($event)"></app-contact>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-groups (totalGroups)="onTotalGroupsHandler($event)"></app-groups>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>