<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">
                <i class="pi pi-folder-open"></i>
                <span>File Explorer</span>
            </p-tab>
            <p-tab value="1">
                <i class="pi pi-chart-line"></i>
                <span>Usage Cost</span>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-file-explorer></app-file-explorer>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-cost-analysis></app-cost-analysis>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>