
<div class="grid grid-nogutter surface-section text-700">
    <div class="col-12 md:col-6 text-center md:text-left flex align-items-start ">
        <section class="md:ml-8 flex flex-column gap-4 justify-content-center">
            <span class="mt-8 block text-7xl lg:text-8xl font-bold mb-1">Simplify Customer Engagement</span>
            <div class="text-5xl lg:text-6xl text-primary font-bold mb-3">Smart Messaging and Storage</div>
            <p class="mt-0 mb-4 text-1xl line-height-3">Run campaigns, support customers via WhatsApp, manage contacts, and store files — all from one dashboard. Only pay for the storage you use, no annual lock-ins.</p>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/Icons/Schedule/hero.png" alt="Image" class="hero md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>