<div class="modern-banner" *ngIf="!dismissed">
    <div class="banner-content">
        <div class="banner-icon">🚀</div>
        <div class="banner-text">
            <span class="banner-title">New Features!</span>
            <span class="banner-description">Omnichannel messaging, employee monitoring & cloud storage – all in one platform</span>
        </div>
        <a href="#subscriptions" class="banner-cta">
            Explore Plans <i class="pi pi-arrow-right ml-2"></i>
        </a>
        <button class="banner-close" (click)="dismissBanner()">
            <i class="pi pi-times"></i>
        </button>
    </div>
</div>