<div class="layout-topbar">
    <a class="layout-topbar-logo" [routerLink]="'../'">
        <!--img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"-->
        <img src="assets/Icons/Schedule/jackdesk_logo.jpg" style="margin-top: 10px; width: 170px; height: 61px;"
            alt="logo">
        <!--span>BCAST</span-->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>



    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">


        <div class="flex justify-end p-4 gap-4">
            <p-metergroup [value]="layoutService.totalActiveTime()" labelPosition="start" *ngIf="layoutService.menuItemsCache().length > 0 && profile?.user?.is_productivity_enable">
                        <!-- Label card showing Active Time, % and duration -->
        
                        <ng-template #label>
            <div class="flex flex-wrap gap-4">
                <ng-container *ngFor="let meterItem of layoutService.totalActiveTime(); let index = index">
                    <div class="flex-1" styleClass="border border-surface shadow-none">
                        <div class="flex justify-between gap-8">
                            <div class="flex align-items-center gap-1">
                                <span class="text-surface-500 text-sm">{{ meterItem.label }}</span>
                                <span class="font-semibold text-md">{{ meterItem.duration }}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-template>

        <!-- Custom meter fill -->
        <ng-template #meter let-value let-class="class" let-width="size">
            <span [class]="class"
                  [style]="{ background: 'linear-gradient(to right, ' + value.color1 + ', ' + value.color2 + ')', width: width }">
            </span>
        </ng-template>



    </p-metergroup>
    









            <!-- Unresponded Conversation Notification Icon with Badge -->
            <div class="relative inline-block" *ngIf="layoutService.menuItemsCache().length > 0">
                <p-overlayBadge *ngIf="layoutService.unrespondedConversationNotification().conversation_count === 0">
                    <i class="pi pi-comment cursor-pointer text-2xl" (click)="toggleUnrespondedConversationMessages()">
                    </i>
                </p-overlayBadge>
                <p-overlayBadge *ngIf="layoutService.unrespondedConversationNotification().conversation_count > 0"
                    [value]="layoutService.unrespondedConversationNotification().conversation_count" severity="danger">
                    <i class="pi pi-comment cursor-pointer text-2xl" (click)="toggleUnrespondedConversationMessages()">
                    </i>
                </p-overlayBadge>

                <!-- Dropdown Panel -->
                <div *ngIf="showUnrespondedConversationMessages"
                    class="absolute z-50 mt-2 right-0 w-80 bg-white surface-card shadow-4 border rounded-md h-20rem overflow-y-auto">

                    <div *ngIf="layoutService.unrespondedConversationNotification().conversation_count === 0"
                        class="w-18rem p-4 text-gray-500">
                        No unread messages
                    </div>

                    <div *ngFor="let msg of layoutService.unrespondedConversationNotification().notifications"
                        class="w-18rem p-3 border-b surface-card shadow-4 last:border-b-0 hover:bg-gray-100 transition-all cursor-pointer">
                        <div class="flex align-items-center gap-2">
                            <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
                            <div class="flex flex-column gap-2">
                                <div class="font-semibold">{{ msg.contact_name }}</div>
                                <div class="text-sm text-gray-600">{{ msg.last_message.message_body }}</div>
                                <div class="text-green-500">{{ msg.last_message.received_time | date }}</div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!-- Message Notification Icon with Badge -->
            <div class="relative inline-block" *ngIf="layoutService.menuItemsCache().length > 0">
                <p-overlayBadge *ngIf="layoutService.newTaskmessages().length === 0">
                    <i class="pi pi-briefcase cursor-pointer text-2xl" (click)="toggleMessages()">
                    </i>
                </p-overlayBadge>

                <p-overlayBadge *ngIf="layoutService.newTaskmessages().length > 0" [value]="layoutService.newTaskmessages()[0]?.total_count"
                    severity="danger">
                    <i class="pi pi-briefcase cursor-pointer text-2xl" (click)="toggleMessages()">
                    </i>
                </p-overlayBadge>

                <!-- Dropdown Panel -->
                <div *ngIf="showMessages"
                    class="absolute z-50 mt-2 right-0 w-80 bg-white surface-card shadow-4 border rounded-md h-20rem overflow-y-auto">

                    <div *ngIf="layoutService.newTaskmessages().length === 0" class="p-4 w-18rem text-gray-500">
                        No new tasks
                    </div>

                    <div *ngFor="let msg of layoutService.newTaskmessages()"
                        class="w-18rem p-3 border-b surface-card shadow-4 last:border-b-0 hover:bg-gray-100 transition-all cursor-pointer">
                        <div class="flex align-items-center gap-2">
                            <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
                            <div class="flex flex-column gap-2">
                                <div class="text-sm text-gray-600">New message from </div>
                                <div class="font-semibold">{{ msg.customerName }}</div>
                                <div class="text-sm text-gray-600">{{ msg.text }}</div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <!-- Notification Icon with Badge -->
            <div class="relative inline-block">
                <p-overlayBadge *ngIf="layoutService.notifications().length === 0">
                    <i class="pi pi-bell cursor-pointer text-2xl" (click)="toggleNotificationMessages()"></i>
                </p-overlayBadge>

                <p-overlayBadge *ngIf="layoutService.notifications().length > 0"
                    [value]="layoutService.notifications().length" severity="danger">
                    <i class="pi pi-bell cursor-pointer text-2xl" (click)="toggleNotificationMessages()"></i>
                </p-overlayBadge>

                <!-- Dropdown Panel -->
                <div *ngIf="showNotificationMessages"
                    class="absolute z-50 mt-2 right-0 w-80 bg-white surface-card shadow-4 border rounded-md h-20rem overflow-y-auto">

                    <!-- Sticky Header with Clear Button -->
                    <div class="flex justify-content-end items-center px-4 py-2 border-b bg-white sticky top-0 z-10">
                        <span class="font-medium"></span>
                        <button pButton *ngIf="layoutService.notifications().length > 0"
                            class="text-sm bg-primary p-button-outlined hover:underline"
                            (click)="layoutService.clearNotifications()">Clear All</button>
                    </div>

                    <!-- Empty State -->
                    <div *ngIf="layoutService.notifications().length === 0" class="p-4 text-gray-500 w-18rem">
                        No new notifications
                    </div>

                    <!-- Notification List -->
                    <div *ngFor="let note of layoutService.notifications()"
                        class="w-18rem p-3 border-b surface-card shadow-4 last:border-b-0 hover:bg-gray-100 transition-all cursor-pointer">
                        <div class="flex items-start gap-3">
                            <i *ngIf="note.severity === 'info'" class="pi pi-info-circle text-green-500 text-lg"></i>
                            <i *ngIf="note.severity === 'warn'"
                                class="pi pi-exclamation-circle text-yellow-500 text-lg"></i>
                            <i *ngIf="note.severity === 'error'"
                                class="pi pi-exclamation-triangle text-red-500 text-lg"></i>
                            <div>
                                <div class="font-semibold">{{ note.app }}</div>
                                <div class="text-sm text-gray-600">{{ note.text }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <p-splitButton *ngIf="layoutService.menuItemsCache().length > 0" icon="pi pi-spin pi-cog" [outlined]="true"
                [model]="items" (click)="profileViewButton()" />
        </div>


    </div>
</div>

<!--p-dialog header="New Conversations"
    [(visible)]="newConversationDialogVisible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '80vw' }" [draggable]="true" [resizable]="true">
    <div class="col-12">
            <app-list-conversations [heading]="'New'"></app-list-conversations>
        </div>
</p-dialog-->