<div class="flex p-2 align-items-center justify-content-between">
    <div class="flex justify-content-start">
        <!-- Avatar -->
        <div class="flex">
            <div class="avatar-wrapper">
                <img *ngIf="conversation.contact?.platform_name === 'webchat'" class="whatsapp-platform-icon"
                    src="../../../../../assets/Icons/Schedule/webchat.png" alt="" style="width: 18px;">
                <img *ngIf="conversation.contact?.platform_name === 'whatsapp'" class="whatsapp-platform-icon"
                    src="../../../../../assets/Icons/Schedule/whatsapp.svg" alt="" style="width: 24px;">
                <img *ngIf="conversation.contact?.platform_name === 'messenger'" class="whatsapp-platform-icon"
                    src="../../../../../assets/Icons/Schedule/messenger.png" alt="" style="width: 18px;">
                <img *ngIf="conversation.contact?.platform_name === 'gmail'" class="whatsapp-platform-icon"
                    src="../../../../../assets/Icons/Schedule/gmail.png" alt="" style="width: 22px;">

                <!--p-avatar *ngIf="user?.name" label="{{user.name | slice:0:1}}" size="large" size="large"
								shape="circle"></p-avatar-->
                <img *ngIf="conversation.contact?.img" [src]="conversation.contact.img" alt="avatar"
                    class="border-circle w-3rem mr-2" style="width: 38px; height: 38px;" />
                <p-avatar *ngIf="conversation.contact?.name && !conversation.contact?.img"
                    [image]="conversation.contact.img || null" label="{{conversation.contact.name | slice:0:1}}"
                    size="large" shape="circle" styleClass="mr-2">
                </p-avatar>

                <p-avatar
                    *ngIf="!conversation.contact?.name && !conversation.contact?.img && conversation.contact?.phone"
                    label="{{conversation.contact.phone | slice:0:1}}" size="large" shape="circle"></p-avatar>
            </div>
        </div>

        <!-- Name and last message -->
        <div class="flex flex-column justify-content-center gap-2" style="max-width: 13vw;">
            <span class="text-md font-semibold">{{conversation.contact?.name}}</span>
            <p class="preview" *ngIf="!conversation.messages[conversation.messages?.length - 1]?.template && !conversation?.subject">
                {{ conversation.messages[conversation.messages?.length - 1]?.message_body || '' }}
            </p>
            <ng-container *ngIf="conversation.messages?.length">
                <ng-container *ngIf="conversation.messages[conversation.messages.length - 1]?.template as tmpl">
                    <ng-container *ngIf="tmpl | performJsonOp: 'load' as loadedTemplate">
                        <p class="preview" *ngIf="loadedTemplate.components?.length > 1">
                            {{ loadedTemplate.components[1]?.text }}
                        </p>
                    </ng-container>
                </ng-container>
            </ng-container>
            <p class="preview" *ngIf="conversation?.subject">
                {{ conversation?.subject || '' }}
            </p>
        </div>
    </div>

    <!-- Time and tag(notification) -->
    <div class="flex flex-column align-items-end justify-content-end gap-2">
        <div>{{lastMessageTime}}</div>
        <p-badge *ngIf="unreadCount > 0" [value]="unreadCount" class="w-1"/>
    </div>

</div>