<p-card class="preview-card">
  <ng-template pTemplate="content">
    <div class="preview-container">
      <div *ngIf="selectedTemplateForPreview && selectedTemplateForPreview.name !== 'None'" 
           class="whatsapp-preview" 
           [ngClass]="{'whatsapp-preview-message': messageDetails !== null}">
        
        <!-- Message content -->
        <div class="whatsapp-message">
          <ng-container *ngFor="let component of selectedTemplateForPreview.components">
            <ng-container [ngSwitch]="component.type">
              
              <!-- Header -->
              <div *ngSwitchCase="'HEADER'" class="message-header">
                <ng-container *ngIf="component.format === 'DOCUMENT'; else textHeader">
                  <div class="media-container">
                    <img *ngIf="!mediaPreviewUrl" 
                         src="../../../../../assets/Icons/Schedule/pdf.avif" 
                         alt="Document"
                         class="document-preview">
                    <iframe *ngIf="mediaPreviewUrl" 
                            [src]="mediaPreviewUrl | safeUrl" 
                            class="media-preview"></iframe>
                  </div>
                </ng-container>
                <ng-template #textHeader>
                  <div class="text-header">{{ component.text }}</div>
                </ng-template>
              </div>
              
              <!-- Body -->
              <div *ngSwitchCase="'BODY'" class="message-body">
                {{ component.text }}
              </div>
              
              <!-- Footer -->
              <div *ngSwitchCase="'FOOTER'" class="message-footer">
                {{ component.text }}
              </div>
              
              <!-- Buttons -->
              <div *ngSwitchCase="'BUTTONS'" class="message-buttons">
                <button *ngFor="let button of component.buttons" 
                        class="message-button"
                        [ngClass]="{'url-button': button.type === 'URL'}">
                  <span class="button-icon" *ngIf="button.type === 'URL'">🔗</span>
                  <span class="button-icon" *ngIf="button.type !== 'URL'">📞</span>
                  {{ button.text }}
                </button>
              </div>
              
            </ng-container>
          </ng-container>
          
          <!-- Message timestamp -->
          <div class="message-time">{{ getCurrentTime() }}</div>
        </div>
      </div>
      
      <div *ngIf="!selectedTemplateForPreview" class="no-template">
        <div class="empty-state-icon">💬</div>
        <p class="empty-state-text">Select a template to preview</p>
      </div>
    </div>
  </ng-template>
</p-card>