<div class="flex bg-white" style="max-height: 100vh;">


  <!-- Left: Chat List -->
  <div class="w-4 shadow-1 p-3" style="height: 80vh;">
    <div class="flex flex-column gap-3 mb-2">
      <div class="flex justify-content-start align-items-center gap-2">
        <div>
          <!--img [src]="activeUser.img" alt="Your Profile" class="profile-img" /-->
          <img *ngIf="profile.user?.image" [src]="profile.user.image" alt="avatar" class="border-circle h-4rem w-4rem mr-2"/>
          <p-avatar *ngIf="!profile.user?.image" label="{{ profile.user.username | slice:0:1 }}" size="xlarge"
            shape="circle" styleClass="mr-2"></p-avatar>
        </div>
        <div class="flex flex-column gap-2">
          <span class="font-semibold text-xl">{{ profile.user.username }}</span>
          <span class="text-md">{{ profile.user.email }}</span>
        </div>
      </div>

      <!-- Search Contacts -->
      <p-inputgroup class="w-full">
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <input pInputText type="text" placeholder="search or start a new conversation" [(ngModel)]="searchQuery"
          (input)="filterContacts()" class="w-full" />
      </p-inputgroup>

    </div>

    <!-- Scrollable container -->
    <div style="max-height: 62vh; overflow-y: auto;">
      <div class="p-2 chat-list-item mt-1" [class.active]="conversation.id === selectedConversation()?.id" *ngFor="let conversation of filterconversations()"
        (click)="onConversationSelected(conversation)">
        <app-list-chat-window [conversation]="conversation"></app-list-chat-window>
      </div>
    </div>

  </div>

  <!-- Middle: Detail Chat Window -->
  <div class="w-8">
    <app-detail-chat-window
      (chatDetailsPageLoaded)="onChatDetailsPageLoad()" 
      (messageSentEvent)="onMessageSent($event)" 
      (conversationClosedEvent)="onConversationClosed($event)" 
      (ownThisConversationEvent)="onOwnThisConversation($event)" 
      *ngIf="selectedConversation() !== null" 
      [selectedConversation]="selectedConversation()" 
      [profile]="profile"
      [employees]="employees"
      >
    </app-detail-chat-window>
  </div>
</div>