<div *ngIf="email" class="p-4">

  <h4>{{email.subject}}</h4>

  <div class="flex justify-content-between mb-4">
    <div class="flex align-items-center">
      <p-avatar label="{{ email.sender | slice:0:2 }}" shape="circle" size="xlarge" styleClass="mr-2"></p-avatar>
      <div class="flex flex-column">
        <div>{{ email.sender }}</div>
        <div>To: </div>
        <div>Cc: </div>
      </div>
    </div>

    <div class="flex flex-column align-items-end gap-2 mr-2">
      <div class="flex gap-1">
        <button pButton icon="pi pi-reply" class="p-button-sm px-3 p-button-outlined">Reply</button>
        <button pButton class="mr-2 p-button-sm px-3 p-button-outlined flex items-center gap-1">
          <i class="pi pi-reply"></i>
          <i class="pi pi-reply"></i>
          Reply All
        </button>
        <button pButton icon="pi pi-arrow-right" class="p-button-sm px-3 p-button-outlined">Forward</button>

      </div>

      <div class="flex">
        {{ email.email_date | date:'fullDate' }}
      </div>
    </div>

  </div>

  <div style="max-height: 80vh; overflow: auto;">

    <div class="mt-4 border-t pt-4" [innerHTML]="email.body"></div>
    <p-divider />

    <div class="border-t pt-4">
      <div *ngFor="let reply of email.replies">
        <p class="m-0"><strong>From: </strong>{{ reply.sender }}</p>
        <p class="m-0"><strong>Sent: </strong>{{ reply.email_date | date:'fullDate' }}</p>
        <p class="m-0"><strong>To: </strong></p>
        <p class="m-0"><strong>Cc: </strong></p>
        <div [innerHTML]="reply.body" class="mt-4 border-t mt-4 mb-4"></div>
        <p-divider />
      </div>
    </div>

  </div>
`
</div>